@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #c9cba3;
}

#column-2 {
  background: #ffe1a8;
}

#column-3 {
  background: #e26d5c;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #fffcf9 ;
  }

  #column-1 {
    background-color:#fcba04 ;
  }

  #column-2 {
    background-color:#fbd1a2 ;
  }

  #column-3 {
    background-color:#7dcfb6 ;
  }

  footer {
    background-color:#fffcf9;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #f1faee ;
  }

  #column-1 {
    background-color: #f18f01 ;
  }

  #column-2 {
    background-color:#048ba8 ;
  }

  #column-3 {
    background-color:#2e4057 ;
  }

  footer {
    background-color: #f1faee;
  }
   
}
